/* this is new-branch style.css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: #ff451f;
  font-size: 150%;
  padding: 8px;
}


/*<!-- HEADER SECTION -->*/

header {
  background-color: #fff;
  height: 46px;
  position: sticky;
  top: 0;
  z-index: 101;
}

.mob-right img {
  position: absolute;
  padding: 5px 8px;
  border-left: 1px solid rgb(235, 235, 235);
}

.mob-right .mob-menu {
  bottom: 0;
  right:0;
}

.mob-right .search-icon {
  top: -6px;
  right: 52px;
}

/* <!-- MAIN SECTION -->*/
#main-section {
  max-width: 100%;
  height: 700px;
  display: grid;
  grid-template: repeat(3,1fr) / 1fr;
  grid-gap: 5px;
  padding: 8px;
}

.main-art {
  position: relative;
}

.main-art h3 a,.main-art small {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-size: 120%;
  color: white;
  z-index: 100;
}

.main-art small {
  color: lightslategray;
  bottom: 20px;
  font-size: 100%;
}


.cover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.cover-a{
  background-image: linear-gradient(to top, #000,transparent);
  position: absolute;
  width: 100%;
  height: 100%;
}

.co-img1 {
  background-image: url('assets/imgs/main-img1.png');
}

.co-img2 {
  background-image: url('assets/imgs/main-img2.png');
}

.co-img3 {
  background-image: url('assets/imgs/main-img3.png');
}

/*  <!-- LATEST NEWS SECTION --> */

#latest-news {
  background-color: white;
  padding: 8px;

  /* GONNA NEED THIS IN LATER MEDIA */
  
  /* display: grid;
  grid-template: 50px repeat(7,1fr) / 1fr; */
  
}

.latest-art{
  height: 90px;
  padding: 8px;
  margin-bottom: 10px;
}

.latest-div {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  float: left;
}

.latest-img {
  height: 100%;
  position: absolute;
  left: -50%;
}

.non-squre-img{
  left:0;
}

.latest-caption {
  padding: 10px 0 0 100px;
}

.latest-caption a:hover {
  color: #ff451f;
  text-decoration: underline;
}

/*  <!-- LATEST FUNDING SECTION --> */

.latest-funding{
  padding: 8px;
  background-color: white;
}

.latest-funding a{
  color: #ff451f;
}

.latest-funding a:hover{
  color:black;
}

.latest-funding ul {
  list-style: none;
  padding: 8px;
}

.latest-funding ul li {
  padding-bottom: 10px;
}