* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  color: #ff451f;
  font-size: 150%;
  padding: 8px;
}

h2:hover {
  color: #000;
}

article {
  opacity: 1;
  transition: 0.3s;
}

article:hover {
  opacity: 0.85;
}

.hide-all {
  display: none;
}

.strike {
  text-decoration: line-through;
}

/* <!-- HEADER SECTION --> */

header {
  background-color: #fff;
  height: 46px;
  position: sticky;
  top: 0;
  z-index: 101;
  -webkit-box-shadow: 0 0 43px -2px rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 31px -2px rgba(0, 0, 0, 0.35);
}

.right-side img {
  position: absolute;
  padding: 5px 8px;
  border-left: 1px solid rgb(235, 235, 235);
}

.menu-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.search-icon {
  top: -6px;
  right: 52px;
}

/* <!-- MAIN SECTION --> */

.main-section {
  max-width: 100%;
  height: 700px;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  grid-gap: 5px;
  padding: 8px;
}

.main-art {
  position: relative;
}

.see-all-deals a {
  color: #ff451f;
}

.main-art h3 a,
.main-art small {
  position: absolute;
  bottom: 50px;
  left: 10px;
  font-size: 120%;
  color: white;
  z-index: 100;
}

.main-art small {
  color: lightslategray;
  bottom: 20px;
  font-size: 100%;
}

.cover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.cover-a {
  background-image: linear-gradient(to top, #000, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
}

.co-img1 {
  background-image: url('assets/imgs/main-img1.png');
}

.co-img2 {
  background-image: url('assets/imgs/main-img2.png');
}

.co-img3 {
  background-image: url('assets/imgs/main-img3.png');
}

/*  <!-- LATEST NEWS SECTION --> */

.latest-news,
.latest-deals {
  background-color: white;
  padding: 8px;
}

.latest-art,
.latest-deal {
  height: 90px;
  padding: 8px;
  margin-bottom: 10px;
}

.latest-div,
.latest-deal-div {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  float: left;
}

.latest-img,
.latest-deal-img {
  height: 100%;
  position: absolute;
  left: -50%;
}

.non-squre-img {
  left: 0;
}

.latest-caption,
.latest-deal-caption {
  padding: 10px 0 0 100px;
}

.latest-funding ul a {
  font-size: 14px;
  color: #ff451f;
}

.topic-card ul a {
  color: #555;
  font-size: 80%;
}

.social-list li a {
  color: #fff;
}

.links-list li a {
  color: #aaa;
  font-size: 80%;
  padding-right: 15px;
}

.see-all-deals a:hover {
  color: #000;
}

.latest-caption a:hover,
.latest-deal-caption a:hover {
  color: #ff451f;
  text-decoration: underline;
}

/*  <!-- LATEST FUNDING SECTION --> */

.latest-funding {
  padding: 8px;
  background-color: white;
}

.latest-funding a:hover {
  color: black;
}

.latest-funding .funding-card h2 {
  background-color: rgb(255, 68, 34);
  color: white;
  padding-left: 95px;
  font-size: 100%;
}

.latest-funding .bottom-title {
  background-color: rgba(255, 68, 34, 0.08);
  padding: 5px 92px;
}

.latest-funding ul {
  list-style: none;
  padding: 8px;
}

.latest-funding ul li {
  padding-bottom: 10px;
}

.funding-card {
  position: relative;
}

.latest-funding .funding-logo {
  position: absolute;
  left: 12px;
  top: 20px;
  width: 60px;
  height: 60px;
}

.latest-funding .middle {
  display: flex;
  flex-direction: column;
  background-color: #fffaf8;
  font-size: 12px;
  padding: 16px;
  line-height: 21px;
  border-bottom: 2px solid rgba(255, 68, 34, 0.08);
}

.latest-funding .middle span {
  margin-left: 8px;
}

.latest-funding .bottom {
  background-color: #fffaf8;
  font-size: 12px;
  padding: 16px;
}

/*  <!-- TOPICS SECTION --> */

.topics {
  padding: 15px;
  background-color: white;
}

.topics .caption h2 {
  color: white;
  position: relative;
  left: -8px;
}

.topic-card {
  height: 300px;
  margin-bottom: 445px;
}

.topics .top-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.topics .background {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
}

.topic-bg1 {
  background: url("assets/imgs/main-img1.png");
}

.topic-bg2 {
  background: url("assets/imgs/topics-1.png");
}

.topic-bg3 {
  background: url("assets/imgs/topics-3.png");
}

.topics .top-image .caption {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.topic-card ul {
  font-size: 100%;
  list-style: none;
  padding: 0 14px;
}

.uppder-footer .bottom-nav-bar a {
  color: white;
}

.topic-card ul a:hover {
  color: #000;
}

.links-list li a:hover {
  color: whitesmoke;
}

.topics .top-image .caption a {
  color: white;
}

.topics .top-image .caption small {
  color: gray;
}

.topics .latest {
  display: flex;
  background-color: #fff4f2;
}

.topics .latest .left-side {
  padding: 15px;
  color: #ff451f;
}

.topics .latest .left-side a:hover {
  text-decoration: underline;
  text-decoration-color: #ff451f;
}

.topics .latest .left-side strong {
  color: #ff451f;
}

.powered-by img {
  width: 40px;
}

.topics .latest img {
  width: 105px;
}

.topic-card ul li {
  padding: 8px 0;
  border-bottom: 1px solid lightgrey;
}

.topic-card ul li::before {
  content: "\2022";
  color: #ff451f;
  display: inline-block;
  width: 1em;
  margin: 0 5px;
}

/* LATEST DEALS SECTION */

.latest-deals {
  margin-top: 10px;
}

.see-all-deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: teal;
  height: 250px;
  text-align: center;
}

.uppder-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #131313;
  height: 150px;
  width: 100%;
}

.footer ul li {
  display: inline-block;
}

.social-list li:hover {
  background-color: black;
  border: 2px solid #333;
  margin-top: -2px;
}

.footer ul {
  list-style: none;
}

.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 105px;
  color: #aaa;
  font-size: 80%;
}

.hide-small {
  display: none;
}

/* *************** MEDIA QUERY STYLES ************ */

/* MEDIUM SCREEN */

@media screen and (min-width: 768px) {
  /* TOP DARK NAVBAR */
  header {
    position: sticky;
    top: 32px;
  }

  header > img {
    background-color: black;
    padding: 18px 0;
    position: absolute;
    top: -36px;
    z-index: 100;
  }

  .top-nav {
    background-color: black;
    color: rgb(146, 146, 146);
    justify-content: space-between;
    font-size: 90%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    padding-right: 10px;
  }

  .top-nav a {
    color: rgb(146, 146, 146);
  }

  .top-nav ul {
    list-style: none;
    display: flex;
  }

  .first-ul {
    padding-left: 115px;
  }

  .social-list li {
    padding-top: 10px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
  }

  .top-nav ul li {
    display: inline-block;
    padding: 7px 6px;
  }

  .top-nav ul li small {
    font-size: 40%;
    padding-left: 5px;
  }

  .bottom-nav a {
    color: #aaa;
  }

  .bottom-nav a:hover {
    color: #000;
  }

  .main-section .main-art-1 a {
    font-size: 265%;
  }

  .top-nav ul li a:hover {
    color: white;
  }

  .bottom-nav {
    position: absolute;
    top: 0;
    left: 115px;
    font-family: 'Bebas Neue', cursive;
    font-size: 110%;
    letter-spacing: 1px;
    color: #aaa;
  }

  .bottom-nav ul {
    list-style: none;
    padding: 10px 0;
  }

  .bottom-nav ul li {
    display: inline;
    padding: 9px;
  }

  .right-side img {
    right: 0;
  }

  /*  MAIN SECTION STYLES  */
  .main-section {
    padding: 40px 8px 0 8px;
    height: 500px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }

  .main-section .main-art-1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  /* LATEST NEWS & LATEST DEALS */
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .latest-art,
  .latest-deal {
    width: 33.333%;
    height: auto;
    padding: 8px;
    margin-bottom: 10px;
  }

  .latest-div,
  .latest-deal-div {
    width: 100%;
    height: 180px;
    float: none;
  }

  .latest-img,
  .latest-deal-img {
    height: 100%;
    position: static;
  }

  .non-squre-img {
    height: auto;
    transform: translate(0, 0);
  }

  .latest-caption,
  .latest-deal-caption {
    padding: 13px 0;
  }

  /* LATEST FUNDING SECTION */

  .latest-funding ul li {
    display: inline;
  }

  .funding-card {
    display: inline-block;
    width: 32.95%;
  }

  /* TOPICS SECTION */
  .topic-card {
    display: inline-block;
    margin: 0 1% 445px 1%;
    width: 47%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide-small {
    display: inline-flex;
  }

  .hide-medium {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-small {
    display: inline-flex;
  }

  .hide-large {
    display: none;
  }

  /* HEADER */
  .bottom-nav {
    top: 4px;
    left: 5px;
  }

  .first-ul {
    padding-left: 8px;
  }

  .right-ul {
    padding-right: 20px;
  }

  /* MAIN SECTION */
  .cover-a-large {
    background-image: linear-gradient(to bottom right, rgb(255 0 0), transparent, black);
  }

  .trans-logo {
    background: url(assets/imgs/trans-logo.svg) no-repeat;
    background-size: 59%;
    height: 100%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .top-date {
    position: absolute;
    color: white;
    top: 19px;
    right: 15px;
  }

  /* LATEST NEWS */
  section {
    max-width: 1150px;
    margin: 0 auto;
  }

  .latest-art {
    width: 25%;
  }

  /* LATEST FUNDING */
  .latest-funding .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .latest-funding ul li {
    display: inline;
  }

  .funding-card {
    display: inline-block;
    width: 24%;
    width: 23.29%;
    margin: 0 7px;
  }

  .topic-card {
    width: 31%;
  }

  .latest-deal {
    width: 24%;
  }
}

@media (min-width: 1212px) {
  .show-larger {
    display: initial;
  }
}
